<ion-view title="Checkout"  id="page16" >
  <ion-content padding="false" class="has-header">

    <div class="checkout-area">

    <form name="checkoutForm" class="list " ng-submit="pay(address_choice,pay_choice)" >

      <h3 ng-if="addresses.length === 0" class="address-title">You must add your address to proceed payment</h3>

      <!--Address Header-->
      <label ng-click="addManipulation()" class="item item-input  item ic-selected label-title" >
        <a class="icon icon-right ion-ios-location" style="margin-right: 10px;" ></a>
        Delivery Address
        <i  class="icon icon-right ion-android-add-circle" style="font-size: larger ;margin-left: 10px;"></i>
      </label>


      <div class="delivery-address-area">
      <!-- Address -->
      <ion-list ng-repeat="item in addresses">
          <ion-radio name="addr_group" ng-value="item.$id" ng-model="$parent.address_choice"
            ng-click="addressClick($event)"
            class="my-address">
            <a class="icon icon-right ion-ios-location"></a>
            <h2 class="address-nickname">
              {{item.nickname}}
            </h2>
            <p class="address-address">
              {{item.address}}
            </p>
            PostCode : {{item.pin}}
            <p class="address-phone">
              Phone : {{item.phone}}
            </p>
          </ion-radio>
          <button ng-click="deleteAddress($event)" class="delete-address">
            Delete Address
          </button>
      </ion-list>
      </div>


      <div class="payment-area">
      <!--Payment Header-->
      <label class="item item-input  item ic-selected label-title" >
        <a class="icon icon-right ion-cash" style="margin-right: 10px;" ></a>
        Mode of Pay
      </label>


      <!-- Payment Options -->
      <ion-list>
        <div class="wrapper-list">
        <div ng-repeat="item in payments">
          <ion-radio name="pay_group" ng-value="item.id" ng-model="$parent.pay_choice" class="list-pay"> {{item.name}}
          </ion-radio>
        </div>
        </div>
      </ion-list>
      </div>

      <div ng-controller="LogController">
        <div ng-init="$log.log('Address : ',$parent.$parent)"></div>
      </div>
      {{}}
      <button type="submit" class=" button button-calm  button-block icon-right ion-android-arrow-forward " ng-disabled="addresses.length === 0 || payNow">
        PAY
      </button>

    </form>
</div>
  </ion-content>


</ion-view>
