<ion-view style="" class=" " id="page18" title="Kurang">
    <ion-content class="has-header" padding="false"  ng-init="loadMenu()"  >


		<div class="row" style="border-top: 1px solid #999;">


			<div class="col col-50 " style="padding:1px;border-right:1px solid #999" >

				  <div class="item item-image" style="border-width: 0px; border-style: none;">
					<img ng-click="showProductInfo(menu[$index].$id)" ng-src="img/fk/kurung_biru.jpg" width="100%" />
				  </div>
				  <a class="item item-icon-right assertive" href="javascript:void(0)"  style="border-width: 0px; border-style: none;" >
					<p ng-click="showProductInfo(menu[$index].$id)" style="font-size: 12px;text-align:left;">
            Carlena - Blue<br/>
						<span style="font-weight: bold;color: black;">MYR 299</span>
					</p>
					<i style="font-size: 25px; margin-right:0px;right:0px;"  ng-click="addToCart(menu[$index])" class="icon ion-ios-cart"></i>
				  </a>

			</div>


			<div class="col col-50 " style="padding:1px;">

				  <div class="item item-image" style="border-width: 0px; border-style: none;">
					<img ng-click="showProductInfo(menu[$index+1].$id)" ng-src="img/fk/kurung_putih.jpg" width="100%" />
				  </div>
				  <a class="item item-icon-right assertive" href="javascript:void(0)"  style="border-width: 0px; border-style: none;" >
					<p ng-click="showProductInfo(menu[$index+1].$id)" style="font-size: 12px;text-align:left;">
             Carlena - White <br/>
						<span style="font-weight: bold;color: black;">MYR 299</span>
					</p>
					<i style="font-size: 25px;right: 0px;"  ng-click="addToCart(menu[$index+1])" class="icon ion-ios-cart"></i>
				  </a>


			</div>

		</div>

		<div class="row" style="border-top: 1px solid #999;">


			<div class="col col-50 " style="padding:1px;border-right:1px solid #999" >

				  <div class="item item-image" style="border-width: 0px; border-style: none;">
					<img ng-click="showProductInfo(menu[$index].$id)" ng-src="img/fk/kurung_pink.jpg" width="100%" />
				  </div>

				  <a class="item item-icon-right assertive" href="javascript:void(0)"  style="border-width: 0px; border-style: none;" >
					<p ng-click="showProductInfo(menu[$index].$id)" style="font-size: 12px;text-align:left;">
            Larrossa Joobah - Pastel Pink(<br/>
						<span style="font-weight: bold;color: black;">MYR 249</span>
					</p>
					<i style="font-size: 25px; margin-right:0px;right:0px;"  ng-click="addToCart(menu[$index])" class="icon ion-ios-cart"></i>
				  </a>
			</div>


			<div class="col col-50 " style="padding:1px;">

				  <div class="item item-image" style="border-width: 0px; border-style: none;">
					<img ng-click="showProductInfo(menu[$index+1].$id)" ng-src="img/fk/kurung_cair.jpg" width="100%" />
				  </div>
				  <a class="item item-icon-right assertive" href="javascript:void(0)"  style="border-width: 0px; border-style: none;" >
					<p ng-click="showProductInfo(menu[$index+1].$id)" style="font-size: 12px;text-align:left;">
            Larrossa Joobah - Pastel Yellow <br/>
						<span style="font-weight: bold;color: black;">MYR 249</span>
					</p>
					<i style="font-size: 25px;right: 0px;"  ng-click="addToCart(menu[$index+1])" class="icon ion-ios-cart"></i>
				  </a>


			</div>

		</div>


	</ion-content>
</ion-view>
