<ion-view style="" class=" " id="page8" title="Home">
    <ion-content class="has-header" padding="true">

  <div class="row" style="border-top: 1px solid #999;">
    <div class="col col-40">
     	<div class="item item-image" style="border-width: 0px; border-style: none;">
				<img ng-click="showProductInfo(menu[$index].$id)" ng-src="img/fk/menu1.jpg" width="100%" />
		</div>
    </div>
    <div style="text-align: center; vertical-align: middle; line-height: 90px; padding:1px;border-right:1px solid #999" class="col col-60">
      <h4 style="font-family:verdana;">
      	DRESS & JUBAH
      </h4>
      <a href="/#/page19">Shop Now</a>
    </div>
  </div>

  <div class="row" style="border-top: 1px solid #999;">
	<div style="text-align: center; vertical-align: middle; line-height: 90px;padding:1px;border-right:1px solid #999" class="col col-60">
      <h4 style="font-family:verdana;">
      	BAJU KURUNG
      </h4>
      <a href="/#/page18">Shop Now</a>
    </div>
    <div class="col col-40">
     	<div class="item item-image" style="border-width: 0px; border-style: none;">
				<img ng-click="showProductInfo(menu[$index].$id)" ng-src="img/fk/menu2.jpg" width="100%" />
		</div>
    </div>
  </div>

  <div class="row" style="border-top: 1px solid #999;">
    <div class="col col-40">
     	<div class="item item-image" style="border-width: 0px; border-style: none;">
				<img ng-click="showProductInfo(menu[$index].$id)" ng-src="img/fk/menu3.jpg" width="100%" />
		</div>
    </div>
    <div style="text-align: center; vertical-align: middle; line-height: 90px;padding:1px;border-right:1px solid #999" class="col col-60">
      <h4 style="font-family:verdana;">
      	BAJU MELAYU
      </h4>
      <a href="/#/page20">Shop Now</a>
    </div>
  </div>

    </ion-content>
</ion-view>
