# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

# build
android

#cordova
ionic.config.json
config.xml
package-lock.json
capacitor.config.json